<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
  <meta charset="utf-8">
  <title>Cropular - Cropping tool for AngularJs</title>

  <script src="https://code.angularjs.org/1.4.9/angular.min.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">

  <!-- cropular files -->
  <!--<link rel="stylesheet" href="../dist/cropular.min.css">-->
  
  <style>
    body {
      padding: 15px;
    }
  </style>
</head>

<body ng-controller="DemoCtrl as vm">
  <script src="demo.js"></script>
  
    <div class="container-fluid">   
        <div class="row">
            <div class="col-md-8">
                <cropular image-url="vm.url" crop-object="vm.cropObject" enable-crop="vm.cropEnabled" my-test="vm.test"></cropular>
                <div class="btn-group" ng-hide="vm.cropEnabled" role="group">
                    <button type="button" ladda="vm.editAttachmentLoading" ng-click="vm.toggleCrop()" class="btn btn-default">Crop</button>
                </div>
                <div class="btn-group crop-controls" ng-show="vm.cropEnabled" role="group">
                    <button type="button" ladda="vm.editAttachmentLoading" data-spinner-size="30" ng-click="vm.saveCrop()" class="btn btn-success">Save Crop</button>
                    <button type="button" class="btn btn-default" ng-click="vm.toggleCrop()">Cancel</button>
                </div>
            </div>
            <div class="col-md-4">
                <p>Crop Enabled: {{vm.cropEnabled}}</p>
                <p>Crop Properties: {{vm.cropObject}}</p>
            </div>
        </div>
    </div>
  <script src="../dist/cropular.js"></script>
</body>
</html>